<!-- templates/about.html -->
{% extends "base.html" %}
{% block content %}
<div class="main intro">
  <div class="panel">
    <div class="section">
      <div class="row3">
        <h1>About Planning Poker</h1>
      </div>
    </div>
    <div class="section-gap"></div>
    <div class="section">
      <div class="row3">
        <p>This app helps teachers get planning estimates from students.</p>
      </div>
    </div>
    <div class="section-gap"></div>
    <div class="section">
      <div class="row3">
        <p>Helps students understand how to estimate.</p>
      </div>
    </div>
    <div class="section-gap"></div>
    <div class="section">
      <div class="row3">
        <p>Perfect for apprenticeship training and online classes.</p>
      </div>
    </div>
    <div class="section-gap"></div>
    <div class="section">
      <div class="row">
        <a href="/">← Back to Home</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
